.footer{
    background-color: #1a1a1a;
    width: 100%;
    color: white;

    li{
        list-style: none;
    }

    h2{
        font-size: 1.3em;
    }

    .footer-wrapper{
        width: 80%;
        margin: 0 auto;
        padding-top: 2rem;
        
        .columns{
            display: flex;
            justify-content: space-around;
            
            padding-bottom: 2rem;
            border-bottom: 1px solid rgba(166, 166, 166, .6);

            .col{

                h2{
                    margin-bottom: .6rem;
                }

                a{
                    display: inline-block;
                    margin-bottom: .2rem;
                }
            }

            .second-col{
                
                ul{
                    li{
                        margin-bottom: .8rem;
                    }

                    a{
                        display: flex;
                        align-items: center;
                        gap: .5rem;
                    }
                    svg{
                        color: white;
                        background: transparent;
                        width: 25px;
                    }
                }
            }
        }

        .copyright{
            margin-top: 2rem;
            padding-bottom: 2rem;
        }
    }
}

@media (max-width: 950px) {
    .footer{

        .footer-wrapper{
            width: 95%;
            
            .columns{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

                .col{
                    margin-bottom: 1rem;
                    margin-left: 1rem;
                }
            }
        }
    }
}

@media (max-width: 650px) {
    .footer{

        .footer-wrapper{

            .columns{

                // .col{
                //     margin-top: 2rem;
                //     width: 45%;

                //     &:first-child{
                //         margin-top: 0;
                //     }
                // }
            }
        }
    }
}