@import "./presets";

a{
    text-decoration: none;
}

.mobile-logo{
    display: none;
}


header{
    width: 100%;
    padding-bottom: 1.5rem;
    position: sticky;
    z-index: 100000;
    top: 0;
    display: flex;
    justify-content: center;


    li{
        list-style: none;
    }

    nav{
        width: 85%;
        padding-top: 1.2rem;

        .theme-toggler-wrapper{
            cursor: pointer;
            position: absolute;
            left: 1.5rem;
            top: 50%;
            transform: translate(0, -50%);

            .container{
                position: relative;
                width: 50px;
                height: 24px;
                background-color: #232424;
                border-radius: 40px;

                .ball{
                    position: absolute;
                    left: .2rem;
                    top: 3px;
                    width: 18px;
                    height: 18px;
                    background-color: white;
                    border-radius: 50%;
                }
            }
        }

        .ul-header{
            display: flex;
            justify-content: space-between;

            .search{

                span{
                    position: relative;
                }

                a{
                    @include button($duration: .1s);
                }

                
                .categories{
                    display: flex;
                    justify-content: space-between;
                    position: absolute;
                    padding-top: 1.5rem;
                    top: 1.5rem;
                    
                    .header-category{
                        text-align: center;
                        padding-left: 2.5rem;
                        padding-right: 2.5rem;
                        font-size: 1.3em;
                    }
                    
                    .category-wrapper{
                        display: flex;
                        flex-direction: column;
                        
                        .category-items{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            
                            a{
                                white-space: nowrap;
                                padding-inline: 2rem;
                                text-align: center;
                                text-transform: capitalize;
                            }
                            
                        }
                        
                    }
                    
                }
                    
                .ul-search{
                    margin-left: 4rem;
                    display: flex;
                    align-items: center;

                    .search-container{
                        position: relative;
                        justify-content: unset;
                        width: 199px;
                    
                        .search-items{
                            position: absolute;
                            top: 2.4rem;
                            left: 0;
                            background: transparent;
                    
                            .search-card{
                                display: flex;
                                justify-content: start;
                                align-items: center;
                                padding: .6rem;
                                margin-top: .1rem;
                                width: 199px;
                                text-align: left;
                                text-overflow: ellipsis;

                            }
                        }

                        .li-magnifier{
                            cursor: pointer;
                            background: transparent;
                            position: absolute;
                            right: .4rem;
                            bottom: .35rem;
                            height: 24px;
                            width: 24px;

                            img{
                                background: transparent;
                                width: 22px;
                                height: 22px;
                            }
                        }
                    }

                    li{

                        img{
                            cursor: pointer;
                            user-select: none;
                        }

                        input{
                            border: none;
                            outline: none;
                            border: 1px solid rgba(0, 0, 0, .15);
                            padding: .6rem 1.5rem;

                            &:focus{
                                border: 1px solid rgba(0, 0, 0, .35);
                            }
                        }
                    }
                }
            }

            .top-nav-content{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 33%;
                
                .logo{
                    font-size: 2em;
                    font-weight: 600;
                    font-family: Montserrat;
                    text-transform: uppercase;
                }

                a{
                    text-decoration: none;
                    // color: black;
                }
            }

            .login-language-card-liked{

                .content{
                    width: 80%;
                    display: flex;
                    justify-content: space-between;

                    li{
                        position: relative;

                        .flags{
                            display: flex;
                            justify-content: space-between;
                            position: relative;
                            z-index: 0;

                            li{
                                padding: 0;
                                padding-top: 10px;
                                max-height: 40px;
                                background: black;
                                display: flex;
                                align-items: center;
                                border: none;
                                background: none;
                                cursor: pointer;
                                user-select: none;
        
                                img{
                                    width: 24;
                                    height: 24;
                                }
                            }

                            .secondary-flag{
                                position: absolute;
                                z-index: -1;
                            }
                        }

                        img{
                            user-select: none;
                        }

                        .cta-like, .cta-cart{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: .6rem;
                            transition: all .2s ease-in-out;

                            &:hover{
                                border-radius: 50%;
                            }

                            img{
                                background: transparent
                            }
                        }

                        .login-wrapper{
                            padding-top: 3.9rem;
                            top: 0;
                            position: absolute;
                            background: transparent;
                        }

                        .user-dropdown{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            gap: .8rem;

                            li{
                                a{
                                    @include button;
                                    display: flex;
                                    justify-content: center;
                                    width: 100%;
                                }

                                &:last-child{
                                    margin-bottom: .5rem;
                                }
                            }
                        }

                    }
                }
                
                .login{
                    @include button;
                }
            }
        }
    }
}

.wrapper-hamburger{
    cursor: pointer;
    padding: .7rem 1rem;
    z-index: 1000;
    
    .hamburger-menu{
        width: 28px;
        height: 3px;
        border-radius: 8px;
        background-color: #232424;
    
        &::after{
            content: '';
            position: absolute;
            width: 23px;
            height: 3px;
            top: 19px;
            border-radius: 8px;
            background-color: #232424;
        }
        
        &::before{
            content: '';
            position: absolute;
            width: 28px;
            height: 3px;
            top: 3px;
            border-radius: 8px;
            background-color: #232424;
        }
    }

    .dark{
        background-color: white;

        &::after{
            background-color: white;
        }

        &::before{
            background-color: white;
        }
    }
}

.menu-search-wrapper{
    display: none;
}

.like-cart-wrapper{
    display: none;
}

.mobile{
    display: none;
}

@media (max-width: 1350px) {
    header{
        nav{
            .ul-header{
                .search{
                    .ul-search{
                        margin-left: 1rem;
                    }
                }
            }
        }
    }

    .closed{
        width: 100%;
        margin-left: 5rem;

    }
}


@media (max-width: 1100px) {
    .mobile-logo{
        display: block;
        font-size: 2em;
        font-weight: 600;
        font-family: Montserrat;
        text-transform: uppercase;
        margin: 2rem 0;
    }

    .mobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        left: -5vw;
        position: absolute;
        height: 100vh;
        background-color: #232424;

        .user{
            position: absolute;
            right: 3rem;
            top: 2.35rem;
            cursor: pointer;
        }

        .menu-items{
            display: flex;
            gap: 2rem;
            flex-direction: column;
            margin: 0 auto;
            margin-top: 5rem;
            width: 80%;
            
            a{
                margin: 0 auto;
                width: 80%;
                @include button(true);
                display: flex;
                justify-content: center;
            }
        }

        .bottom-items{
            display: flex;
            justify-content: center;
            margin-bottom: 3rem;
            margin-top: auto;
            gap: 2rem;
            
            .theme-toggler-wrapper{
                position: unset;
                margin-top: 1.3rem;
            }

            img{
                cursor: pointer;
            }
        }
    }


    .closed{
        display: none;
    }

    .opened{
        display: unset;
    }

    .menu-opened{
        display: flex;
    }

    .menu-search-wrapper{
        position: absolute;
        left: 1.2rem;
        top: 2.3rem;
        display: flex;


        .ul-search{
            .search-container{
                .li-magnifier{
                    svg{
                        cursor: pointer;
                    }
                    
                    input{
                        z-index: 1000;
                        position: absolute;
                        overflow: hidden;
                        left: .8rem;
                        height: 30px;
                    }

                }
                
                .search-items{
                    position: absolute;
                    top: 3rem;
                    left: 1rem;
                    width: 85vw;

                    .search-card{
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        padding: 1rem .6rem;
                        margin-top: .3rem;
                        width: 85vw;
                        text-align: left;
                        text-overflow: ellipsis;

                    }
                }
            }
        }
    }

    .like-cart-wrapper{
        display: flex;
        gap: .1rem;
        position: absolute;
        right: 2rem;
        top: 1.8rem;

        .cta-like, .cta-cart{
            padding: .4rem;
            padding-top: .5rem;
            transition: all .2s ease-in-out;

            &:hover{
                border-radius: 50%;
            }
        }
    }
}

@media (max-width: 500px) {
    .mobile-logo{
        margin-top: 2.4rem;
        font-size: 1.5em;
    }

    .menu-search-wrapper{
        left: .2rem;
    }

    .like-cart-wrapper{
        right: 1rem;
    }
}

@media (max-width: 400px) {
    .mobile-logo{
        margin-top: 2.3rem;
        font-size: 1.3em;
    }

    .menu-search-wrapper{
        left: 0rem;
    }

    .like-cart-wrapper{
        right: .7rem;
    }
}

@media (max-width: 350px) {
    .mobile-logo{
        margin-top: 2.3rem;
        font-size: 1.3em;
    }

    .menu-search-wrapper{
        left: 0rem;
    }

    .like-cart-wrapper{
        right: .7rem;
    }

    header{
        svg{
            width: 18px;
        }
    }


    .wrapper-hamburger{
        padding: .7rem 0rem;
        padding-left: .6rem;
        padding-right: .6rem;

        .hamburger-menu{
            width: 22px;
            height: 2px;

            &::after{
                width: 17px;
                height: 2px;
                top: 19px;
            }
            
            &::before{
                width: 22px;
                height: 2px;
                top: 3px;
            }
        }
    }

    .like-cart-wrapper{
        right: .1rem;
        
        .cta-like, .cta-cart{
            margin-top: .15rem;
            padding: unset;
            padding-left: .4rem;
            padding-right: .4rem;
            padding-top: .4rem;
            transition: all .2s ease-in-out;
    
            &:hover{
                border-radius: 50%;
            }
        }
    }
}

@media (max-width: 300px) {
    .mobile-logo{
        margin-top: 2.6rem;
        font-size: 1em;
    }

    header{
        svg{
            width: 14px;
        }
    }

    .like-cart-wrapper{
        .cta-like, .cta-cart{
            margin-top: .45rem;
            padding: unset;
            padding-left: .3rem;
            padding-right: .3rem;
            padding-top: .1rem;
            transition: all .2s ease-in-out;
    
            &:hover{
                border-radius: 50%;
            }
        }
    }

    .wrapper-hamburger{
        .hamburger-menu{
            width: 20px;
            height: 2px;

            &::after{
                width: 15px;
                height: 2px;
                top: 17px;
            }
            
            &::before{
                width: 20px;
                height: 2px;
                top: 5px;
            }
        }
    }
}

@media (max-width: 250px) {
    .mobile-logo{
        font-size: .9em;
    }
}