.sign-up{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 20rem;

    .wrapper{
        padding: 0;
        width: 30%;
    }

    h1{
        margin-bottom: 1rem;
    }

    span{
        a{
            text-decoration: none;
            font-weight: 600;
        }
    }

    .form{
        text-align: left;
        margin-top: 1.5rem;

        .wrapper{
            width: 100%;
            position: relative;
            padding-top: 1rem;
            padding-bottom: .5rem;
        }

        label, input[type=text]{
            display: block;
            user-select: none;
        }

        .text-label{
            position: absolute;
            top: 1.35rem;
            font-size: 1.2em;
            cursor: text;
            opacity: .7;
        }

        input{
            transition: all .2s ease-in;

            &:focus{
                border-bottom: 1px solid rgba(0, 0, 0, 0.6);
            }
        }

        .dark-bg{
            border-bottom: 1px solid rgba(255, 255, 255, 0.6);
        }

        input{
            margin-bottom: .5rem;
            font-size: 1.2em;
            width: 100%;
            height: 30px;
            border: none;
            outline: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
            padding: 1.2rem 0.1rem;
        }

        a{
            text-decoration: none;
            font-weight: 600;
        }

        .error {
            color:rgb(250, 59, 59)
        }
    }

    button{
        @include button(true, #242323);
        width: 99%;
        margin: 0 auto;
        font-size: 1.2em;

        &:hover{
            background-color: #424242;
        }
    }
    
    h3{
        margin-top: .6rem;
    }
}

@media (max-width: 1200px) {
    .sign-up{
        .wrapper{
            width: 40%;
        } 
    }
}

@media (max-width: 1000px) {
    .sign-up{
        .wrapper{
            width: 50%;
        } 
    }
}

@media (max-width: 780px) {
    .sign-up{
        .wrapper{
            width: 65%;
        } 
    }
}

@media (max-width: 650px) {
    .sign-up{
        .wrapper{
            width: 75%;
        } 
    }
}

@media (max-width: 570px) {
    .sign-up{
        .wrapper{
            width: 95%;
        } 
    }
}