@import "./header";
@import "./home";
@import "./item";
@import "./footer";
@import "./log_in";
@import "./sign_up";
@import "./cart";
@import "./favorited";
@import "./search";
@import "./loading";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

.main{
    background-color: white;
    height: 100%;
    color: black;
}

.wrapper{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    height: 100%;
}

li{
    list-style: none;
}

a:visited{
    color: unset;
}

.dark-bg{
    background-color: #232424;
    color: white;
    border: none;

    &::placeholder{
        color: white;
    }
}

.dark-on-bg{
    background-color: transparent;
    color: white;
}

.dark-hover{
    &:hover{
        background-color: #424242;
    }
}

.light-bg{
    background-color: white;
    color: #232424;

    &::placeholder{
        color: #232424;
    }
}

.light-on-bg{
    background-color: transparent;
    color: white;
}

.light-hover{
    &:hover{
        background-color: #dfdbdb;
    }
}