header {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  z-index: 100000;
  top: 0;
  display: flex;
  justify-content: center;
}
header li {
  list-style: none;
}
header nav {
  width: 85%;
  padding: 1.2rem;
}
header nav .theme-toggler-wrapper {
  cursor: pointer;
  position: absolute;
  left: 1.5rem;
  top: 50%;
  transform: translate(0, -50%);
}
header nav .theme-toggler-wrapper .container {
  position: relative;
  width: 50px;
  height: 24px;
  background-color: #232424;
  border-radius: 40px;
}
header nav .theme-toggler-wrapper .container .ball {
  position: absolute;
  left: 0.2rem;
  top: 3px;
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 50%;
}
header nav .ul-header {
  display: flex;
  justify-content: space-between;
}
header nav .ul-header .search span {
  position: relative;
}
header nav .ul-header .search a {
  transition: all 0.1s ease-in-out;
  padding: 0.6rem 1.5rem;
  text-decoration: none;
  display: inline-block;
  outline: none;
  cursor: pointer;
}
header nav .ul-header .search .categories {
  display: flex;
  justify-content: space-between;
  position: absolute;
  padding-top: 1.5rem;
  top: 1.5rem;
}
header nav .ul-header .search .categories .header-category {
  text-align: center;
  text-decoration: none;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  font-size: 1.3em;
}
header nav .ul-header .search .categories .category-wrapper {
  display: flex;
  flex-direction: column;
}
header nav .ul-header .search .categories .category-wrapper .category-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header nav .ul-header .search .categories .category-wrapper .category-items a {
  white-space: nowrap;
  padding-inline: 2rem;
  text-align: center;
  text-transform: capitalize;
}
header nav .ul-header .search .ul-search {
  margin-left: 4rem;
  display: flex;
  align-items: center;
}
header nav .ul-header .search .ul-search .search-container {
  position: relative;
  justify-content: unset;
  width: 199px;
}
header nav .ul-header .search .ul-search .search-container .search-items {
  position: absolute;
  top: 2.4rem;
  left: 0;
  background: transparent;
}
header nav .ul-header .search .ul-search .search-container .search-items .search-card {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0.6rem;
  margin-top: 0.1rem;
  width: 199px;
  text-align: left;
  text-overflow: ellipsis;
}
header nav .ul-header .search .ul-search .search-container .li-magnifier {
  cursor: pointer;
  background: transparent;
  position: absolute;
  right: 0.4rem;
  bottom: 0.35rem;
  height: 24px;
  width: 24px;
}
header nav .ul-header .search .ul-search .search-container .li-magnifier img {
  background: transparent;
  width: 22px;
  height: 22px;
}
header nav .ul-header .search .ul-search li img {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
header nav .ul-header .search .ul-search li input {
  border: none;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 0.6rem 1.5rem;
}
header nav .ul-header .search .ul-search li input:focus {
  border: 1px solid rgba(0, 0, 0, 0.35);
}
header nav .ul-header .top-nav-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
}
header nav .ul-header .top-nav-content .logo {
  font-size: 2em;
  font-weight: 600;
  font-family: Montserrat;
  text-transform: uppercase;
}
header nav .ul-header .top-nav-content a {
  text-decoration: none;
}
header nav .ul-header .login-language-card-liked .content {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
header nav .ul-header .login-language-card-liked .content li {
  position: relative;
}
header nav .ul-header .login-language-card-liked .content li .flags {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 0;
}
header nav .ul-header .login-language-card-liked .content li .flags li {
  padding: 0;
  padding-top: 10px;
  max-height: 40px;
  background: black;
  display: flex;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
header nav .ul-header .login-language-card-liked .content li .flags li img {
  width: 24;
  height: 24;
}
header nav .ul-header .login-language-card-liked .content li .flags .secondary-flag {
  position: absolute;
  z-index: -1;
}
header nav .ul-header .login-language-card-liked .content li img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
header nav .ul-header .login-language-card-liked .content li .cta-like, header nav .ul-header .login-language-card-liked .content li .cta-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem;
  transition: all 0.2s ease-in-out;
}
header nav .ul-header .login-language-card-liked .content li .cta-like:hover, header nav .ul-header .login-language-card-liked .content li .cta-cart:hover {
  border-radius: 50%;
}
header nav .ul-header .login-language-card-liked .content li .cta-like img, header nav .ul-header .login-language-card-liked .content li .cta-cart img {
  background: transparent;
}
header nav .ul-header .login-language-card-liked .content li .login-wrapper {
  margin-top: 3.4rem;
  padding-top: 0.5rem;
  top: 0;
  position: absolute;
}
header nav .ul-header .login-language-card-liked .content li .user-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8rem;
}
header nav .ul-header .login-language-card-liked .content li .user-dropdown li a {
  transition: all 0.2s ease-in-out;
  padding: 0.6rem 1.5rem;
  text-decoration: none;
  display: inline-block;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 100%;
}
header nav .ul-header .login-language-card-liked .content li .user-dropdown li:last-child {
  margin-bottom: 0.5rem;
}
header nav .ul-header .login-language-card-liked .login {
  transition: all 0.2s ease-in-out;
  padding: 0.6rem 1.5rem;
  text-decoration: none;
  display: inline-block;
  outline: none;
  cursor: pointer;
}
.home .popular-items .slick-slider {
  margin-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  min-height: 400px;
}
.home .popular-items .slick-slider .slick-arrow {
  transition: all 0.3s ease-in-out;
  height: 15rem;
  width: 2rem;
  padding: 7rem 0.5rem;
}
.home .popular-items .slick-slider .slick-arrow:hover {
  background-color: #c3bbbb;
}
.home .popular-items .slick-slider .slick-slide > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
}
.home .popular-items .slick-slider .home-card {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: 90%;
}
.home .popular-items .slick-slider .home-card .image {
  min-height: 500px;
  max-height: 500px;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-bottom: 1rem;
  position: relative;
}
.home .popular-items .slick-slider .home-card .image .cloth-item {
  width: 100%;
  height: 100%;
  transition: all 0.35s ease-in-out;
}
.home .popular-items .slick-slider .home-card .image .cloth-item:hover {
  scale: 1.2;
}
.home .popular-items .slick-slider .home-card .image .buttons {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background: transparent;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.home .popular-items .slick-slider .home-card .image .buttons button {
  position: relative;
  transition: all 0.2s ease-in-out;
  border: none;
  outline: none;
  border-radius: 50%;
  padding: 0.6rem;
  cursor: pointer;
  background-color: #dfdbdb;
  z-index: 100;
}
.home .popular-items .slick-slider .home-card .image .buttons button .heart-wrapper {
  position: relative;
  background: transparent;
}
.home .popular-items .slick-slider .home-card .image .buttons button .filled {
  background: transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
}
.home .popular-items .slick-slider .home-card .image .buttons button:hover {
  background-color: #c3bbbb;
}
.home .popular-items .slick-slider .home-card .image .buttons button:hover img {
  background-color: inherit;
}
.home .popular-items .slick-slider .home-card .image .buttons button img {
  background: transparent;
}
.home .popular-items .slick-slider .home-card .text-info h1 {
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 1.65em;
}
.home .popular-items .slick-slider .home-card .text-info h3 {
  font-size: 1.4em;
  font-weight: 200;
  margin-top: 0.2rem;
}
.home .popular-items .slick-slider .home-card .text-info h4 {
  font-size: 1.5em;
  margin-top: 0.4rem;
  font-weight: 200;
}
.home .popular-items .slick-slider .slick-dots {
  bottom: -40px;
}
.home .additional {
  width: 70%;
  margin: 5rem auto;
}
.home .additional .left .text-col {
  text-align: right;
}
.home .additional .right .text-col {
  text-align: left;
}
.home .additional .additional-card {
  width: 100%;
  display: flex;
  margin-bottom: 4rem;
}
.home .additional .additional-card .text-col {
  width: 100%;
}
.home .additional .additional-card .text-col h1 {
  font-weight: 500;
  font-size: 2.2em;
}
.home .additional .additional-card .text-col p {
  font-size: 1.1em;
}
.home .additional .additional-card .text-col a {
  transition: all 0.2s ease-in-out;
  padding: 0.6rem 1.5rem;
  text-decoration: none;
  display: inline-block;
  outline: none;
  cursor: pointer;
  background-color: #242323;
  color: white;
  border: 1px #404040 solid;
  margin-top: 1rem;
}
.home .additional .additional-card .text-col a:hover {
  background-color: #424242;
}
.home .additional .additional-card img {
  height: 550px;
  width: 80%;
  max-width: 450px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.item {
  width: 80%;
  margin: 0 auto;
  display: flex;
  padding-bottom: 12rem;
}
.item .model-image {
  z-index: 100;
  position: absolute;
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(36, 35, 35, 0.5);
}
.item .model-image img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  max-width: 600px;
  max-height: 600px;
}
.item .model-image .cross-wrapper {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background: transparent;
  padding: 2rem;
}
.item .photos {
  min-width: 500px;
  min-height: 500px;
}
.item .slick-slider {
  max-width: 500px;
}
.item .slick-slider .slick-arrow {
  transition: all 0.3s ease-in-out;
  height: 15rem;
  width: 2rem;
  padding: 7rem 0.5rem;
}
.item .slick-slider .slick-arrow:hover {
  background-color: #c3bbbb;
}
.item .slick-slider .slick-list .slick-track .slick-slide div {
  display: flex;
  justify-content: center;
}
.item .slick-slider .slick-list .slick-track .slick-slide div img {
  max-width: 400px;
}
.item .info {
  width: 50%;
  text-align: right;
}
.item .info h1 {
  font-size: 2.2em;
  font-weight: 600;
  margin-top: 1rem;
}
.item .info h3 {
  font-size: 1.5em;
  margin-top: 0.6rem;
  margin-bottom: 3rem;
  font-weight: 200;
}
.item .info p {
  font-size: 1.6em;
  margin-top: 0.6rem;
}
.item .info strong {
  font-size: 2em;
  margin-top: 0.6rem;
}
.item .info .select-item {
  width: 100%;
  height: 50px;
  background-color: #242323;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 2;
  grid-area: S;
  position: relative;
  font-size: 1.6em;
  margin-top: 0.4rem;
  text-align: center;
  padding-top: 0.5rem;
  color: white;
  margin-right: 0.2rem;
  border: 1px #404040 solid;
  transition: all 0.2s ease-in-out;
}
.item .info .select-item option {
  background-color: inherit;
  cursor: pointer;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}
.item .info .select-item:hover {
  background-color: #424242;
}
.item .info .select-item .arrow-wrapper {
  position: absolute;
  right: 0;
  top: 0.05rem;
  cursor: pointer;
}
.item .info .select-item .select-arrow {
  position: relative;
  margin-top: 0.4rem;
}
.item .info .select-item .select-arrow .top {
  width: 20px;
  height: 2.5px;
  background-color: white;
  position: absolute;
  transform: rotate(150deg);
  right: 0.7rem;
  top: 0.7rem;
}
.item .info .select-item .select-arrow .bottom {
  width: 20px;
  height: 2.5px;
  background-color: white;
  position: absolute;
  transform: rotate(30deg);
  right: 0.7rem;
  top: 1.3rem;
}
.item .info .select-item .options {
  margin-top: 0.4rem;
  background-color: #242323;
  border: #404040 1px solid;
  z-index: 1;
}
.item .info .select-item .options option {
  transition: all 0.2s ease-in-out;
}
.item .info .select-item .options option:hover {
  background-color: #424242;
}
.item .info .make-order {
  width: 80%;
  margin-left: auto;
  margin-top: 1rem;
  display: grid;
  gap: 0.6rem;
  grid-template-areas: "S S S S S" "C C C F F";
}
.item .info .make-order select {
  padding: 1rem 1.5rem;
  grid-area: S;
  font-size: 1.2em;
}
.item .info .make-order button {
  transition: all 0.2s ease-in-out;
  padding: 0.6rem 1.5rem;
  text-decoration: none;
  display: inline-block;
  outline: none;
  cursor: pointer;
  background-color: #242323;
  color: white;
  border: 1px #404040 solid;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item .info .make-order button:hover {
  background-color: #424242;
}
.item .info .make-order button h3 {
  background-color: inherit;
  margin-bottom: unset;
}
.item .info .make-order .cart-btn {
  grid-area: C;
  overflow: hidden;
  position: relative;
}
.item .info .make-order .cart-btn div {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 0.6rem;
}
.item .info .make-order .cart-btn svg {
  margin-top: 0.5rem;
  background: transparent;
}
.item .info .make-order .cart-btn .tick {
  position: absolute;
}
.item .info .make-order .cart-btn .cancel {
  position: absolute;
}
.item .info .make-order .heart-btn {
  gap: 1rem;
  grid-area: F;
}
.item .info .make-order .heart-btn div {
  position: relative;
  background: transparent;
}
.item .info .make-order .heart-btn .filled {
  background: transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, calc(-50% - 6px));
  width: 24px;
  height: 22px;
}
.item .info .make-order .heart-btn svg {
  background-color: inherit;
  color: white;
  margin-top: 0.5rem;
}

.footer {
  background-color: #1a1a1a;
  width: 100%;
  color: white;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer li {
  list-style: none;
}
.footer div, .footer ul, .footer li, .footer a, .footer img, .footer h1, .footer h2, .footer p {
  background-color: inherit;
}
.footer h2 {
  font-size: 1.3em;
}
.footer .wrapper {
  width: 80%;
  margin: 0 auto;
}
.footer .wrapper .columns {
  display: flex;
  justify-content: space-around;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(166, 166, 166, 0.6);
}
.footer .wrapper .columns .col h2 {
  margin-bottom: 0.6rem;
}
.footer .wrapper .columns .col a {
  display: inline-block;
  margin-bottom: 0.2rem;
}
.footer .wrapper .columns .second-col ul li {
  margin-bottom: 0.8rem;
}
.footer .wrapper .columns .second-col ul a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.footer .wrapper .columns .second-col ul svg {
  color: white;
  background: transparent;
  width: 25px;
}
.footer .wrapper .copyright {
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.login {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 20rem;
}
.login .wrapper {
  padding: 0;
  width: 30%;
}
.login h1 {
  margin-bottom: 1rem;
}
.login span a {
  text-decoration: none;
  font-weight: 600;
}
.login .form {
  text-align: left;
  margin-top: 1.5rem;
}
.login .form .wrapper {
  width: 100%;
  position: relative;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
.login .form label, .login .form input[type=text] {
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.login .form .text-label {
  position: absolute;
  top: 1.35rem;
  font-size: 1.2em;
  cursor: text;
  opacity: 0.7;
}
.login .form input {
  transition: all 0.2s ease-in;
}
.login .form input:focus {
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}
.login .form input[type=checkbox] {
  display: none;
}
.login .form input {
  margin-bottom: 0.5rem;
  font-size: 1.2em;
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 1.2rem 0.1rem;
}
.login .form .password-remember {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.login .form .password-remember div label {
  cursor: pointer;
}
.login .form .password-remember div label::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
  margin-bottom: -0.15rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.login .form .password-remember div input[type=checkbox]:checked + label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-size: 12px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.login .form .password-remember a {
  text-decoration: none;
  font-weight: 500;
}
.login .form .error {
  color: rgb(250, 59, 59);
}
.login button {
  transition: all 0.2s ease-in-out;
  padding: 0.6rem 1.5rem;
  text-decoration: none;
  display: inline-block;
  outline: none;
  cursor: pointer;
  background-color: #242323;
  color: white;
  border: 1px #404040 solid;
  width: 99%;
  margin: 0 auto;
  font-size: 1.2em;
}
.login button:hover {
  background-color: #424242;
}
.login button:hover {
  background-color: #424242;
}

.sign-up {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 20rem;
}
.sign-up .wrapper {
  padding: 0;
  width: 30%;
}
.sign-up h1 {
  margin-bottom: 1rem;
}
.sign-up span a {
  text-decoration: none;
  font-weight: 600;
}
.sign-up .form {
  text-align: left;
  margin-top: 1.5rem;
}
.sign-up .form .wrapper {
  width: 100%;
  position: relative;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
.sign-up .form label, .sign-up .form input[type=text] {
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.sign-up .form .text-label {
  position: absolute;
  top: 1.35rem;
  font-size: 1.2em;
  cursor: text;
  opacity: 0.7;
}
.sign-up .form input {
  transition: all 0.2s ease-in;
}
.sign-up .form input:focus {
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}
.sign-up .form input {
  margin-bottom: 0.5rem;
  font-size: 1.2em;
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 1.2rem 0.1rem;
}
.sign-up .form a {
  text-decoration: none;
  font-weight: 600;
}
.sign-up .form .error {
  color: rgb(250, 59, 59);
}
.sign-up button {
  transition: all 0.2s ease-in-out;
  padding: 0.6rem 1.5rem;
  text-decoration: none;
  display: inline-block;
  outline: none;
  cursor: pointer;
  background-color: #242323;
  color: white;
  border: 1px #404040 solid;
  width: 99%;
  margin: 0 auto;
  font-size: 1.2em;
}
.sign-up button:hover {
  background-color: #424242;
}
.sign-up button:hover {
  background-color: #424242;
}

.cart {
  width: 1150px;
  margin: 0 auto;
  margin-bottom: 30rem;
}
.cart .wrapper {
  padding-top: 0rem;
}
.cart .empty-cart {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}
.cart .empty-cart .right-col {
  text-align: right;
}
.cart .empty-cart .right-col p {
  font-size: 1.4em;
  font-weight: 600;
}
.cart .empty-cart .right-col .cta-buttons a {
  margin-top: 1rem;
  transition: all 0.2s ease-in-out;
  padding: 0.6rem 1.5rem;
  text-decoration: none;
  display: inline-block;
  outline: none;
  cursor: pointer;
  background-color: #242323;
  color: white;
  border: 1px #404040 solid;
}
.cart .empty-cart .right-col .cta-buttons a:hover {
  background-color: #424242;
}
.cart .head {
  display: flex;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  opacity: 0.5;
}
.cart .head .item-h {
  margin-left: 100px;
  width: 250px;
}
.cart .head .item-q {
  margin-left: 250px;
  width: 100px;
}
.cart .head .item-p {
  margin-left: 112px;
  width: 100px;
}
.cart .title {
  text-align: center;
  font-size: 2.2em;
  margin-bottom: 2rem;
}
.cart .cart-items .cart-card {
  position: relative;
  display: grid;
  grid-template-areas: "I I N N N N N N Q Q . P R";
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  transition: all 0.1s ease-in-out;
}
.cart .cart-items .cart-card::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.15);
  width: 120%;
  height: 1px;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.cart .cart-items .cart-card:last-child {
  margin-bottom: 0;
}
.cart .cart-items .cart-card:last-child::after {
  width: 0;
}
.cart .cart-items .cart-card .image-wrapper-cta {
  overflow: hidden;
  display: inline-block;
  width: 250px;
}
.cart .cart-items .cart-card img {
  grid-area: I;
  width: 250px;
  height: 320px;
  transition: all 0.35s ease-in-out;
}
.cart .cart-items .cart-card img:hover {
  scale: 1.2;
}
.cart .cart-items .cart-card .name-item {
  grid-area: N;
  font-size: 1.5em;
  margin-top: 0.5rem;
  min-width: 200px;
}
.cart .cart-items .cart-card .name-item .size {
  display: inline;
  margin-top: 0.8rem;
}
.cart .cart-items .cart-card .name-item .select-wrapper {
  margin-top: 1rem;
}
.cart .cart-items .cart-card .name-item .select {
  width: 80px;
  height: 30px;
  background-color: #242323;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  font-size: 0.9em;
  margin-top: 0.4rem;
  text-align: center;
  color: white;
  margin-right: 0.2rem;
  border-bottom: 1px #404040 solid;
  transition: all 0.2s ease-in-out;
}
.cart .cart-items .cart-card .name-item .select option {
  background-color: inherit;
  cursor: pointer;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}
.cart .cart-items .cart-card .name-item .select:hover {
  background-color: #424242;
}
.cart .cart-items .cart-card .name-item .select .arrow-wrapper {
  position: absolute;
  right: 0;
  top: 0.05rem;
  cursor: pointer;
}
.cart .cart-items .cart-card .name-item .select .select-arrow {
  position: relative;
}
.cart .cart-items .cart-card .name-item .select .select-arrow .top {
  width: 12px;
  height: 2px;
  background-color: white;
  position: absolute;
  transform: rotate(150deg);
  right: 0.3rem;
  top: 0.65rem;
}
.cart .cart-items .cart-card .name-item .select .select-arrow .bottom {
  width: 12px;
  height: 2px;
  background-color: white;
  position: absolute;
  transform: rotate(30deg);
  right: 0.3rem;
  top: 1rem;
}
.cart .cart-items .cart-card .name-item .select .options {
  background-color: #242323;
  border-bottom: 1px #404040 solid;
}
.cart .cart-items .cart-card .name-item .select .options option {
  background-color: #242323;
  transition: all 0.2s ease-in-out;
}
.cart .cart-items .cart-card .name-item .select .options option:hover {
  background-color: #424242;
}
.cart .cart-items .cart-card .change-quantity {
  grid-area: Q;
  margin-top: 0.5rem;
}
.cart .cart-items .cart-card .change-quantity input {
  display: inline-block;
  width: 1.5rem;
  padding: 0.2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 35px;
  font-size: 1.5em;
  text-align: center;
  border: none;
  outline: none;
  border-left: 1px solid #404040;
  border-right: 1px solid #404040;
}
.cart .cart-items .cart-card .change-quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}
.cart .cart-items .cart-card .change-quantity .quantity {
  transition: all 0.2s ease-in-out;
  padding: 0.6rem 1.5rem;
  text-decoration: none;
  display: inline-block;
  outline: none;
  cursor: pointer;
  background-color: #242323;
  color: white;
  border: 1px #404040 solid;
  padding: 0.2rem 0.6rem;
  border: none;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}
.cart .cart-items .cart-card .change-quantity .quantity:hover {
  background-color: #424242;
}
.cart .cart-items .cart-card .change-quantity .quantity svg {
  background: unset;
  width: 16px;
}
.cart .cart-items .cart-card .price {
  grid-area: P;
  margin-top: 0.5rem;
}
.cart .cart-items .cart-card .remove {
  transition: all 0.2s ease-in-out;
  padding: 0.6rem 1.5rem;
  text-decoration: none;
  display: inline-block;
  outline: none;
  cursor: pointer;
  background-color: #242323;
  color: white;
  border: 1px #404040 solid;
  grid-area: R;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.4rem 0.6rem;
  border-radius: 4px;
  align-self: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.cart .cart-items .cart-card .remove:hover {
  background-color: #424242;
}
.cart .cart-items .cart-card .remove svg {
  background: transparent;
}
.cart .summary {
  width: 50%;
  margin: 0 auto;
}
.cart .summary h1 {
  font-size: 2.3em;
  margin-bottom: 0.5rem;
}
.cart .summary .subtotal {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.4rem;
}
.cart .summary .subtotal p {
  font-size: 1.4em;
}
.cart .summary .subtotal .subtext {
  font-weight: 600;
}
.cart .summary button {
  transition: all 0.2s ease-in-out;
  padding: 0.6rem 1.5rem;
  text-decoration: none;
  display: inline-block;
  outline: none;
  cursor: pointer;
  background-color: #242323;
  color: white;
  border: 1px #404040 solid;
  width: 100%;
  border-radius: 4px;
  margin-top: 0.8rem;
  padding: 0.6rem 0;
  font-size: 1.2em;
}
.cart .summary button:hover {
  background-color: #424242;
}

.favorited {
  margin-bottom: 10rem;
  position: relative;
}
.favorited .head {
  text-align: center;
  margin-bottom: 1.5rem;
}
.favorited .grid-list-items {
  width: 70%;
  margin: 0 auto;
  display: grid;
  place-content: center;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.favorited a {
  display: block;
  color: black;
  text-decoration: none;
  width: 300px;
}
.favorited a .image {
  overflow: hidden;
  width: 100%;
  margin-bottom: 1rem;
  position: relative;
}
.favorited a .image .cloth-item {
  width: 100%;
  transition: all 0.35s ease-in-out;
}
.favorited a .image .cloth-item:hover {
  scale: 1.2;
}
.favorited a .image .buttons {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background: transparent;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.favorited a .image .buttons button {
  position: relative;
  transition: all 0.2s ease-in-out;
  border: none;
  border-radius: 50%;
  padding: 0.6rem;
  cursor: pointer;
  background-color: #dfdbdb;
  z-index: 100;
}
.favorited a .image .buttons button .filled {
  background: transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, calc(-50% - 2px));
}
.favorited a .image .buttons button:hover {
  background-color: #c3bbbb;
}
.favorited a .image .buttons button:hover img {
  background-color: inherit;
}
.favorited a .image .buttons button img {
  background: transparent;
}
.favorited a .text-info h3 {
  font-size: 1em;
  font-weight: 200;
  margin-top: 0.2rem;
}
.favorited a .text-info h4 {
  font-size: 1.5em;
  margin-top: 0.4rem;
}

.removed-wrapper {
  position: relative;
  background: transparent;
}

.removed-items {
  background: transparent;
  position: fixed;
  right: 2rem;
  bottom: 20rem;
  float: right;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  max-height: 60%;
}
.removed-items::-webkit-scrollbar {
  display: none;
}
.removed-items .pop-up-item {
  background: transparent;
  margin-bottom: 0.2rem;
}
.removed-items .pop-up-item .image {
  color: white;
  background: transparent;
  width: 200px;
  position: relative;
}
.removed-items .pop-up-item button {
  position: absolute;
  right: 1rem;
  top: 1rem;
  border: none;
  padding: 0.5rem;
  border-radius: 50%;
}
.removed-items .pop-up-item button .filled {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, calc(-50% - 2px));
}
.removed-items .pop-up-item button img {
  background: transparent;
}
.removed-items .pop-up-item .progress-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.5px;
  background-color: rgb(79, 79, 250);
}

.head {
  text-align: center;
  margin-bottom: 1.5rem;
}

.empty-favorites {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: 0 auto;
  margin-bottom: 40rem;
}
.empty-favorites .right-col {
  text-align: right;
}
.empty-favorites .right-col p {
  font-size: 1.4em;
  font-weight: 600;
}
.empty-favorites .right-col .cta-buttons a {
  margin-top: 1rem;
  width: unset;
  transition: all 0.2s ease-in-out;
  padding: 0.6rem 1.5rem;
  text-decoration: none;
  display: inline-block;
  outline: none;
  cursor: pointer;
  background-color: #242323;
  color: white;
  border: 1px #404040 solid;
}
.empty-favorites .right-col .cta-buttons a:hover {
  background-color: #424242;
}

.search-menu {
  width: 100%;
  display: flex;
  padding-bottom: 15rem;
}
.search-menu .filters-wrapper {
  width: 25%;
}
.search-menu .filters-wrapper .filters-header {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.search-menu .filters-wrapper .filters-header .clear-filters {
  transition: all 0.2s ease-in-out;
  padding: 0.6rem 1.5rem;
  text-decoration: none;
  display: inline-block;
  outline: none;
  cursor: pointer;
  background-color: #242323;
  color: white;
  border: 1px #404040 solid;
  font-size: 0.95em;
  padding: 0.4rem 1.6rem;
}
.search-menu .filters-wrapper .filters-header .clear-filters:hover {
  background-color: #424242;
}
.search-menu .filters-wrapper .filters {
  margin-top: 1rem;
  margin-left: 0.4rem;
  display: flex;
  flex-direction: column;
}
.search-menu .filters-wrapper .filters .filter-container {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 80%;
}
.search-menu .filters-wrapper .filters .filter-container .filter-button {
  transition: all 0.2s ease-in-out;
  padding: 0.6rem 1.5rem;
  text-decoration: none;
  display: inline-block;
  outline: none;
  cursor: pointer;
  position: relative;
  width: 100%;
  border: none;
  cursor: pointer;
  text-align: left;
  margin-bottom: 0.4rem;
  padding: 0.6rem 0;
  padding-left: 0.5rem;
  font-size: 1.2em;
}
.search-menu .filters-wrapper .filters .filter-container .arrow-wrapper {
  position: absolute;
  right: 0;
  top: 0.05rem;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
  transform-origin: 0% 100%;
}
.search-menu .filters-wrapper .filters .filter-container .select-arrow {
  position: relative;
  margin-top: 0.4rem;
}
.search-menu .filters-wrapper .filters .filter-container .select-arrow .top {
  width: 12px;
  height: 2px;
  position: absolute;
  transform: rotate(150deg);
  right: 0.3rem;
  top: 0.65rem;
}
.search-menu .filters-wrapper .filters .filter-container .select-arrow .bottom {
  width: 12px;
  height: 2px;
  position: absolute;
  transform: rotate(30deg);
  right: 0.3rem;
  top: 1rem;
}
.search-menu .filters-wrapper .filters .filter-container .filter-options {
  margin-left: 1.4rem;
  overflow: hidden;
}
.search-menu .filters-wrapper .filters .filter-container .filter-options input[type=checkbox] {
  display: none;
}
.search-menu .filters-wrapper .filters .filter-container .filter-options label {
  margin-bottom: 0.5rem;
  display: inline-block;
  width: 70%;
  position: relative;
  cursor: pointer;
}
.search-menu .filters-wrapper .filters .filter-container .filter-options label::after {
  content: "";
  position: absolute;
  display: inline-block;
  right: 0;
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
  flex-grow: 0;
  margin-top: 0.1rem;
  border-radius: 0.25rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.search-menu .filters-wrapper .filters .filter-container .filter-options input[type=checkbox]:checked + label::after {
  border: 0.1px solid rgba(223, 219, 219, 0.1725490196);
  background-color: #242323;
  background-size: 12px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.search-menu .filters-wrapper .filters .filter-container .price {
  display: flex;
  justify-content: space-around;
  width: 80%;
}
.search-menu .filters-wrapper .filters .filter-container .price .price-input {
  width: 85px;
  padding: 0.4rem 1rem;
  border: 1px solid #a6a6a6;
  border-radius: 4px;
  transition: border 0.15s ease-in-out;
  outline: none;
}
.search-menu .filters-wrapper .filters .filter-container .price .price-input:focus {
  border: 1px solid #242323;
}
.search-menu .filters-wrapper .filters .filter-container .price .price-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}
.search-menu .items-col {
  width: 80%;
}
.search-menu .items-col .text {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
.search-menu .items-col .text .query-h {
  text-transform: capitalize;
}
.search-menu .items-col .text .results {
  font-size: 1.2em;
  color: #8c8c8c;
}
.search-menu .items-col .items {
  display: grid;
  grid-gap: 2rem;
  place-items: start;
  grid-template-columns: repeat(auto-fit, minmax(20%, 250px));
}
.search-menu .items-col .items a {
  display: block;
  text-decoration: none;
  max-width: 250px;
}
.search-menu .items-col .items a .image {
  min-height: 350px;
  max-height: 350px;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-bottom: 1rem;
  position: relative;
}
.search-menu .items-col .items a .image .cloth-item {
  width: 100%;
  transition: all 0.35s ease-in-out;
}
.search-menu .items-col .items a .image .cloth-item:hover {
  scale: 1.2;
}
.search-menu .items-col .items a .image .buttons {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background: transparent;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.search-menu .items-col .items a .image .buttons button {
  position: relative;
  transition: all 0.2s ease-in-out;
  border: none;
  border-radius: 50%;
  padding: 0.6rem;
  cursor: pointer;
  background-color: #dfdbdb;
  z-index: 100;
}
.search-menu .items-col .items a .image .buttons button .filled {
  background: transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, calc(-50% - 2px));
}
.search-menu .items-col .items a .image .buttons button:hover {
  background-color: #c3bbbb;
}
.search-menu .items-col .items a .image .buttons button:hover img {
  background-color: inherit;
}
.search-menu .items-col .items a .image .buttons button img {
  background: transparent;
}
.search-menu .items-col .items a .text-info h3 {
  font-size: 1em;
  font-weight: 200;
  margin-top: 0.2rem;
}
.search-menu .items-col .items a .text-info h4 {
  font-size: 1.5em;
  margin-top: 0.4rem;
}

.loading-wrapper {
  margin: 2rem auto;
  margin-bottom: 40rem;
  width: 56px;
  height: 24px;
  display: flex;
  justify-content: space-between;
}

.circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #a6a6a6;
  opacity: 0.67;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

.main {
  background-color: white;
  height: 100%;
  color: black;
}

.wrapper {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 2rem;
  height: 100%;
}

li {
  list-style: none;
}

a:visited {
  color: unset;
}

.dark-bg {
  background-color: #232424;
  color: white;
  border: none;
}
.dark-bg::-moz-placeholder {
  color: white;
}
.dark-bg:-ms-input-placeholder {
  color: white;
}
.dark-bg::placeholder {
  color: white;
}

.dark-on-bg {
  background-color: transparent;
  color: white;
}

.dark-hover:hover {
  background-color: #424242;
}

.light-bg {
  background-color: white;
  color: #232424;
}
.light-bg::-moz-placeholder {
  color: #232424;
}
.light-bg:-ms-input-placeholder {
  color: #232424;
}
.light-bg::placeholder {
  color: #232424;
}

.light-on-bg {
  background-color: transparent;
  color: white;
}

.light-hover:hover {
  background-color: #dfdbdb;
}/*# sourceMappingURL=index.css.map */